services:
  todo-router:
    image: node:24
    working_dir: /app
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "5173:5173"
    command: npm run dev -- --host
    tty: true

volumes:
  node_modules: